<div>
  <xmp ms-widget="{is:'cap-modal',id:'edit_price_ship_weight_'+@$id,show:@show,classes:'modal-sm'}">
    <span slot="header">修改单价及起运重量</span>
    <div slot="content">
      <form :validate="@editPWValidate">
        <div class="form-row col-row">
          <label for="" class="form-label col-flow-5">运单单价</label>
          <div class="col-flow-19 input-group" :class="[@errorInputs.indexOf('unitprice_'+@$id)>-1?'has-error':'']">
            <input type="text" class="form-input" :attr="{id:'unitprice_'+@$id}" :duplex="@data.unitPrice" :on-keypress="@floatNumberKeyPress" :rules="{required:true}">
            <span class="input-group-icon">元/吨</span>
          </div>
        </div>
        <div class="form-row col-row">
          <label for="" class="form-label col-flow-5">起运重量</label>
          <div class="col-flow-19 input-group" :class="[@errorInputs.indexOf('shipmentWeight_'+@$id)>-1?'has-error':'']">
            <input type="text" class="form-input" :attr="{id:'shipmentWeight_'+@$id}" :duplex="@data.shipmentWeight" :on-keypress="@floatNumberKeyPress" :rules="{required:true}">
            <span class="input-group-icon">吨</span>
          </div>
        </div>
      </form>
    </div>
    <div slot="footer">
      <div class="form-row col-row">
        <div class="col-flow-8 col-offset-left-5">
          <button class="btn btn-blue btn-block" data-op="confirm" :click="@confirm()">确定</button>
        </div>
        <div class="col-flow-6">
          <button type="button" class="btn btn-red btn-block" data-op="cancel" :click="@show=false">取消</button>
        </div>
      </div>
    </div>
  </xmp>
</div>