<div>
    <xmp ms-widget="{is:'cap-modal',id:'new_agree_detail_'+@$id,show:@show,classes:'modal-sm'}">
        <span slot="header">{{@title}}</span>
        <div slot="content">
            <div class="form-row col-row sm">
                <label class="form-label col-flow-3 sm">名称</label>
                <label class="form-label col-flow-18 sm black-font">{{@discount.name}}</label>
            </div>
            <div style="height:200px;overflow: auto;">
                <ul>
                    <li class="form-row col-row sm" :for="data in @discount.rules">
                        <label class="form-label col-flow-3 sm">重量</label>
                        <label class="form-label col-flow-9 sm black-font">{{data.start}}-{{data.end}}吨</label>
                        <label class="form-label col-flow-3 sm">减免</label>
                        <label class="form-label col-flow-9 sm black-font">{{data.ratio}}%</label>
                    </li>
                </ul>
            </div>
            <div class="paginator" id="pagination_agree_detail"></div>
        </div>
    </xmp>
</div>