<div>
  <xmp ms-widget="{is:'cap-modal',id:'audio_diy_location_wrapper_'+@$id,show:@show,classes:'modal-sm'}">
    <span slot="header">审核装卸点</span>
    <div slot="content">
      <div class="form-row col-row">
        <label class="form-label  col-flow-6 ">所属区域</label>
        <label class="form-label col-flow-18 black-font font-12">{{@addr.provinceName}} {{@addr.cityName}} {{@addr.districtName}}</label>
      </div>
      <div class="form-row col-row">
        <label class="form-label  col-flow-6 ">地点名称</label>
        <label class="form-label col-flow-18 black-font font-12">{{@addr.name}}</label>
      </div>
      <div class="form-row col-row">
        <label class="form-label  col-flow-6 ">详细地址</label>
        <label class="form-label col-flow-18 black-font font-12">{{@addr.address}}</label>
      </div>
      <div class="form-row col-row">
        <label class="form-label col-flow-6 ">创建时间</label>
        <label class="form-label col-flow-18 black-font font-12">{{@addr.createdDate}}</label>
      </div>
      <div>
        <div class="col-row">
          <label class="form-label col-fl">备注审核意见</label>
        </div>
        <textarea rows="5" class="form-textarea" :duplex="@auditData.msg"></textarea>
      </div>
    </div>
    <div slot="footer">
      <div class="col-row">
        <div class="col-flow-14">
          <button type="button" class="btn btn-blue btn-block" :click="@audit(true)">审核通过</button>
        </div>
        <div class="col-flow-10">
          <button type="button" class="btn btn-red btn-block" :click="@audit(false)">审核不通过</button>
        </div>
      </div>
    </div>
  </xmp>
</div>