<div>
  <xmp ms-widget="{is:'cap-modal',id:'new_fee_base_modal_'+@$id,show:@show}">
    <span slot="header">添加减免费用</span>
    <div slot="content">
      <div class="form-row col-row">
        <label for="" class="form-label col-flow-5">减免费用</label>
        <div class="col-flow-19 input-group">
          <input type="number" class="form-input" :duplex="@fee.fee">
          <span class="input-group-icon">元</span>
        </div>
      </div>
      <div class="form-row col-row">
        <label for="" class="form-label col-flow-5">备注</label>
        <div class="col-flow-19">
          <input type="text" class="form-input" :duplex="@fee.feeRemark">
        </div>
      </div>
    </div>
    <div slot="footer" class="col-row">
      <div class="col-flow-14">
        <button type="button" class="btn btn-blue btn-block" data-op="confirm" :click="@confirm()">确定</button>
      </div>
      <div class="col-flow-10">
        <button type="button" class="btn btn-red btn-block" data-op="cancel" :click="@show=false">取消</button>
      </div>
    </div>
  </xmp>
</div>