<div class="modal-mask" :visible="@show">
    <div class="modal-container modal-md">
        <div class="modal-header">
            选择路线
            <span class="close" :click="@show=false">x</span>
        </div>
        <div class="modal-body">
            <div class="form-row col-row">
                <xmp :widget="[{is:'cap-select',id:'routeSelect',classes:'col-flow-24'},@routeSelect]"></xmp>
            </div>

            <div style="max-height: 300px;overflow-x: hidden;overflow-y: auto">
                <div class="form-row col-row" style="padding: 5px;" :visible="@routeOptions.selectedOptions.length != 0">
                    <div class="tag-wrapper fl margin-right-10 margin-bottom-10" :for="(index,option) in @routeOptions.selectedOptions">
                        <a class="btn btn-tag tag font-12">{{@getItemText(option)}}<span class="icon-circle-close" :click="@deleteOption(option,index)"></span></a>
                    </div>
                </div>
                <hr/>
                <xmp ms-widget="[{is:'cap-tab',id:'tab'},@tab]"></xmp>
                <div :visible="@tab.value=='100'">
                    <ul>
                        <li class="form-row hand-cursor" :for="route in @routeOptions.routeList">
                            <span class="col-fl">{{route.groupName}}</span>
                            <span :class="['checkbox','col-fr','col-offset-1',route.selected?'checked':'']" :click="@selectItem(route)"></span>
                        </li>
                    </ul>
                </div>
                <div :visible="@tab.value=='200'">
                    <ul class="col-flow-5 col-offset-1" style="border-right: 1px solid #ddd;height: 100%;">
                        <li :class="['margin-bottom-10','hand-cursor',(@routeOptions.activeIndex == index ? 'blue-font':'')]" :for="(index,route) in @routeOptions.routeList" :click="@showChildren(index)">{{route.groupName}} ></li>
                    </ul>
                    <ul class="col-flow-18">
                        <li class="form-row" :for="data in (@routeOptions.routeList.length > 0 ? @routeOptions.routeList[@routeOptions.activeIndex].children : [])">
                            <span>{{@getAddress(data.fromAddress)}}</span>
                            <i class="icon-arrow margin-left-10 margin-right-10"></i>
                            <span>{{@getAddress(data.toAddress)}}</span>
                            <span :class="['checkbox','col-fr','col-offset-1',data.selected?'checked':'']" :click="@selectItem(data)"></span>
                        </li>
                    </ul>
                </div>
                <hr/>
            </div>

            <div class="col-flow-8 col-offset-left-8">
                <a class="btn btn-blue btn-block" :click="@submit()">确定</a>
            </div>
        </div>
        <div class="modal-footer col-row text-center">
        </div>
    </div>
</div>