<div>
  <xmp ms-widget="{is:'cap-modal',id:'view_route_wrapper_'+@$id,show:@show,classes:'modal-md'}">
    <span slot="header">{{@title}}</span>
    <div slot="content">
      <div class="form-row col-row">
        <div class="col-flow-3">{{@desc}}</div>
      </div>
      <div style="height:350px;overflow: auto;">
        <table class="table cell-bordered thead-default">
          <tr>
            <th>省</th>
            <th>市</th>
            <th>区县</th>
            <th>镇</th>
          </tr>
          <tr :for="(i,a) in @addresses">
            <td :visible="!@hasPreviousSame(i,'provinceName')" :attr="{rowspan:@rowspanCount(i,'provinceName')}">{{a.provinceName}}</td>
            <td :visible="!@hasPreviousSame(i,'cityName')" :attr="{rowspan:@rowspanCount(i,'cityName')}">{{a.cityName}}</td>
            <td :visible="!(a.level==3 && a.alias) && !@hasPreviousSame(i,'districtName')" :attr="{rowspan:@rowspanCount(i,'districtName')}">{{a.districtName}}</td>
            <td :visible="a.level==3 && a.alias && !@hasPreviousSame(i,'alias')" :attr="{rowspan:@rowspanCount(i,'alias')}">{{a.alias}}</td>
            <td>
              <span :visible="a.level==4 && !a.alias">{{a.townName}}</span>
              <span :visible="a.level==4 && a.alias">{{a.alias}}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </xmp>
</div>