<div class="modal-mask" :visible="@show">
  <div class="modal-container modal-md">
    <div class="modal-header">
      预览路线
      <span class="close" :click="@show=false">x</span>
    </div>
    <div class="modal-body">
      <div class="form-row col-row">
        <div class="col-flow-8 light-gray-font">{{@name}}</div>
        <div class="col-flow-8 light-gray-font">共&nbsp;{{@fromList.length*@toList.length}}&nbsp;条线路明细</div>
      </div>
      <div style="height:350px;overflow: auto;">
        <table class="table table-hover table-clickable tr-bordered-vertical thead-borderless">
          <tr>
            <th class="light-gray-font">起运地</th>
            <th class="light-gray-font">目的地</th>
          </tr>
          <tr :for="r in @list">
            <td>
              <span :for="name in r.from.names">{{name | null}}&nbsp;</span>  
            </td>
            <td>
              <span :for="name in r.to.names">{{name | null}}&nbsp;</span>  
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="modal-footer col-row">
    </div>
  </div>
</div>