<div class="modal-mask" :visible="@show">
  <div class="modal-container modal-sm">
    <div class="modal-header">
      新增线路
      <span class="close" :click="@show=false">x</span>
    </div>
    <div class="modal-body">
      <div class="form-row col-row">
        <label for="" class="form-label col-flow-5">起运地</label>
        <div class="col-flow-19" :visible="@route.id==''">
          <xmp ms-widget="[{is:'cap-mini-cascader',id:'cascader_from_'+@$id},@fromCascaderConfig]" :visible="@route.id==''"></xmp>
        </div>
        <label class="form-label col-flow-19" :visible="@route.id!=''">{{@route.from}}</label>
      </div>
      <div class="form-row col-row">
        <label for="" class="form-label col-flow-5">目的地</label>
        <div class="col-flow-19" :visible="@route.id==''">
          <xmp ms-widget="[{is:'cap-mini-cascader',id:'cascader_to_'+@$id},@toCascaderConfig]" :visible="@route.id==''"></xmp>
        </div>
        <label class="form-label col-flow-19" :visible="@route.id!=''">{{@route.to}}</label>
      </div>
      <div class="form-row col-row">
        <label for="" class="form-label col-flow-5">品种</label>
        <xmp ms-widget="[{is:'cap-select',id:'cap_edit_route_select_'+@$id,classes:'col-flow-19'},@productSelectConfig]"></xmp>
      </div>
      <div class="form-row col-row">
        <label for="" class="form-label col-flow-5">起运重量</label>
        <div class="col-flow-19 input-group">
          <input type="number" class="form-input" :duplex="@route.minWei">
          <span class="input-group-icon">吨</span>
        </div>
      </div>
      <div class="form-row col-row">
        <label for="" class="form-label col-flow-5">单价</label>
        <div class="col-flow-19 input-group">
          <input type="number" class="form-input" :duplex="@route.unitPrice">
          <span class="input-group-icon">元/吨</span>
        </div>
      </div>
      <div class="form-row col-row">
        <label for="" class="form-label col-flow-5">浮动报价</label>
        <xmp ms-widget="[{is:'cap-select',id:'cap_select_'+@$id,classes:'col-flow-19'},@discountSelectConfig]"></xmp>
      </div>
    </div>
    <div class="modal-footer col-row">
      <div class="col-flow-14">
        <button type="button" class="btn btn-blue btn-block" data-op="confirm" :click="@confirm()">确定</button>
      </div>
      <div class="col-flow-10">
        <button type="button" class="btn btn-red btn-block" data-op="cancel" :click="@show=false">取消</button>
      </div>
    </div>
  </div>
</div>