<div>
  <xmp ms-widget="{is:'cap-modal',id:'new_policy_'+@$id,show:@show,classes:'modal-md'}">
    <span slot="header">{{@title}}</span>
    <div slot="content">
      <form :validate="@newDiscountValidate">
        <div class="form-row col-row">
          <label for="" class="form-label col-flow-3">政策名</label>
          <div class="col-flow-21" :class="[@errorInputs.indexOf('name_'+@$id)>-1?'has-error':'']">
            <input type="text" :attr="{id:'name_'+@$id}" class="form-input" :duplex="@discount.name" :rules='{required:true}'>
          </div>
        </div>
        <div style="max-height:230px;" class="scroll-vertical" :attr="{id:'scroll_'+@$id}">
          <div class="form-row col-row" :for="(i,rule) in @discount.rules">
            <label for="" class="form-label col-flow-3">重量</label>
            <div class="col-flow-5 input-group" :class="[@errorInputs.indexOf('wei1_'+i+@$id)>-1?'has-error':'']">
              <input type="text" class="form-input" :attr="{id:'wei1_'+i+@$id}" :duplex="rule.start" :on-keypress="@floatNumberKeyPress" :rules="{required:true,greater:'wei2_'+(i-1)+@$id,less:'wei2_'+i+@$id}">
              <span class="input-group-icon">吨</span>
            </div>
            <label class="col-flow-1 text-center form-label">-</label>
            <div class="col-flow-5 input-group" :class="[@errorInputs.indexOf('wei2_'+i+@$id)>-1?'has-error':'']">
              <input type="text" class="form-input" :attr="{id:'wei2_'+i+@$id}" :duplex="rule.end" :on-keypress="@floatNumberKeyPress" :rules="{required:true,greater:'wei1_'+i+@$id,less:'wei1_'+(i+1)+@$id}">
              <span class="input-group-icon">吨</span>
            </div>
            <label class="col-flow-3 form-label">优惠幅度</label>
            <div class="col-flow-5 input-group" :class="[@errorInputs.indexOf('discount_'+i+@$id)>-1?'has-error':'']">
              <input type="text" class="form-input" :attr="{id:'discount_'+i+@$id}" :duplex="rule.ratio" :on-keypress="@floatNumberKeyPress" :on-input="@maxFormt($event,100)" greater-include="false" :rules="{required:true,greater:'0'}">
              <span class="input-group-icon">%</span>
            </div>
            <a class="col-flow-2 blue-font form-label text-right" :click="@discount.rules.remove(rule)">删除</a>
          </div>
        </div>
        <div class="margin-top-20 text-right">
          <a class="blue-font" :click="@addRule">添加新的优惠项</a>
        </div>
      </form>
    </div>
    <div slot="footer">
      <div class="form-row col-row">
        <div class="col-flow-8 col-offset-left-5">
          <button class="btn btn-blue btn-block" data-op="confirm" :click="@confirm()">确定</button>
        </div>
        <div class="col-flow-6">
          <button type="button" class="btn btn-red btn-block" data-op="cancel" :click="@show=false">取消</button>
        </div>
      </div>
      <div class="col-row">
        <span class="font-10 col-fl col-offset-left-5 red-font">注：实际运价，系统将根据优惠百分比四舍五入取整数值</span>
      </div>
    </div>
  </xmp>
</div>