//gray
$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

//font
$blackFont:#333;
$grayFont:#999;
$darkBlueFont:#253248;
$blueFont:#3b98ec;
$redFont:#FF5252;
$yellowFont:#FFC137;

//bg
$darkBlueBG:#00345d;
$bodyBG:#f5f9fa;
$blueBG:#3B98EC;

//border
$grayBorder:#ddd;

//main
$red:#ff5252;
$body-bg:#fff;

//size
$bodyMinWidth:1350px;
$contentWidth:1200px;

//button
$btn-padding-y:6px;
$btn-padding-x:6px;
$btn-sm-padding-y:3px;
$btn-sm-padding-x:6px;
$btn-lg-padding-y:8px;
$btn-lg-padding-x:35px;
$btn-border-width:1px;
$btn-border-radius:2px;
$btn-font-size:14px;
$btn-sm-font-size:12px;
$btn-lg-font-size:18px;

$btn-blue-border:#3B98EC;
$btn-blue-bg:#3B98EC;
$btn-yellow-border:#FFC137;
$btn-yellow-bg:#FFC137;
$btn-red-border:#FF5252;
$btn-red-bg:#FF5252;
$btn-tag-color:#D2E2F2;

//form
$input-padding-y:7px;
$input-padding-x:12px;
$input-font-size:12px;
$input-bg:#fff;
$input-color:#666;
$input-color-placeholder:#999;
$input-border-width:1px;
$input-border-color:#ddd;
$input-border-color-focus:#529AED;
$input-border-radius:2px;
$form-margin-bottom:15px;

$input-sm-padding-y:3px;
$input-sm-padding-x:8px;
$form-sm-margin-bottom:10px;
